/* Box Model Hack */
* {
  box-sizing: border-box;
  /* border: black solid 1px; */
  font-family: 'Cinzel', serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: no-wrap;
  flex-basis: 100%;
  justify-content: space-evenly; 
}

#main-nav {
 display: flex;
 width: 100%; 
 background-color: white;
 position: sticky;
 
}

.book-online {
  margin-left: 15%;
}


.section-one {
  width: 100%;
  height: 800px;
  background: url(../blonde.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: lighter;
  font-size: 4rem;
  padding-left: 8%;
  max-width: 30%;
  color: white;
}

.section-two {
  width: 100%;
  height: 300px;
  background-color: #b9b2b5;

}

.section-three {
  width: 100%;
  height: 500px;

}
/******************************************
/* LAYOUT
/*******************************************/
/* header {

}



footer {

} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
